* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    color: white;
}

body{
    padding: 20px;
    background-color: #222;
}

input {
    border-radius: 3px;
    box-shadow: 3px 3px 5px;
    color: grey;
    font-size: 1.3rem;
    outline: none;
    width: 100%;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.items {
    margin: 4px;
    border-radius: 4px;
    box-shadow: 3px 3px 5px #222;
    width: 30%;
    height: 330px;
}

img {
    width: 100%;
    height: 270px;
    border-radius: 5px;
}

img:hover {
    box-shadow: 3px 4px 3px white; 
}

.title {
    text-align: center;
    margin: 5px;
}